@media only screen and (min-width: 300px) and (max-width: 767px) {
    .img-fluid {
        height: 360px !important;
    }
}

/* @media screen and (min-width: 426px) and (max-width: 767) {
    .img-fluid {
        height: 360px !important;
    }
} */

/* Media Query for Laptops and Desktops */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .img-fluid {
        height: 186px !important;
    }
    

}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .img-fluid {
        height: 260px !important;
    }
    
}

@media only screen and (min-width: 1606px){
    .img-fluid {
        height: 225px !important;
    }
    
}

.freelanceupwork {
    height: 70px !important;
}

.freelancefiverr {
    height: 55px !important;
}